/node_modules
/public/hot
/public/storage
/public/css
public/*
public/js
public/js/app.js
public/js/app_admin.js
/storage/*.key
/vendor
/vendor/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
